/* soumya section starts  */

.navbar-card {
    position: relative;
    background-color: white;
    overflow: hidden;
  }
  .nav-items-landing {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  .nav-item-landing {
    padding: 16px 20px;
    cursor: pointer;
    text-align: center;
  }
  .nav-item-landing:hover {
    background-color: rgb(243, 248, 255);
    color: rgb(0, 86, 210);
  }
  .indicators-background {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 100%;
    background-color: rgb(229, 231, 232);
  }
  .indicators {
    position: absolute;
    bottom: 0;
    height: 4px;
    width: 0;
    background-color: rgb(0, 86, 210);
    transition: width 0.3s, left 0.3s;
  }
  
  /*  soumya navbar ends  */
  
  
  
  /* manjot section starts  */
  
  @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
  
  body {
    font-family: "Roboto", sans-serif;
  }
  .MK {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 27px;
  }
  .MKheading{
      max-width: 1000px;
  }
  .MKheading > h1 {
    color: black;
    font-size: 25px;
    font-weight: 400;
    margin: 22px 0px 13px 0px;
  }
  .MKheading>p:nth-of-type(1){
      font-size: 15px;
      margin-bottom: 7px;
  }
  .MKheading>p:nth-of-type(2){
      font-size: 12px;
      margin: 0px;
  }
  .K1Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .K1Container > h4 {
    color: black;
    font-size: 36px;
    font-weight: 400;
    margin: 22px 0px 25px 0px;
  }
  .K1Container > p:nth-of-type(2) {
    font-size: 18px;
    margin: 2px 0px 23px 0px;
    font-weight: 400;
    color: #671f67;
  }
  .K1Buttons {
    display: flex;
    gap: 10px;
    margin-top: 17px;
  }
  .K1Buttons > button:nth-of-type(1) {
    padding: 8px 16px;
    border: 1px solid #0056d2;
    color: #0056d2;
    border-radius: 5px;
  }
  .K1Buttons > button:nth-of-type(1):hover {
    color: #163579;
    border: 1px solid #163579;
  }
  .K1Buttons > button:nth-of-type(2) {
    color: #0056d2;
    border: none;
  }
  .K1Buttons > button:nth-of-type(2):hover {
    color: #163579;
  }
  .K1Buttons > button:nth-of-type(2) > p:hover {
    color: #163579;
    text-decoration: underline;
  }
  
  .K1Cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .K2Cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .K3Cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .K4Cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .K1Card {
    height: auto;
    border: 1px solid #ddd;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 7px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    transition: box-shadow, transform 0.3s ease-in-out;
  }
  .K1Card:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .K1Card p {
    width: 95%;
    margin: auto;
  }
  .K1Card a {
    width: 95%;
    margin: auto;
    text-decoration: none;
    color: #0056d2;
  }
  .earnDegree {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: -12px;
  }
  .K1Card > p:nth-last-of-type(1) {
    color: #585858dc;
    font-weight: 500;
    margin-bottom: 23px;
  }
  .uni {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 95%;
    margin: auto;
  }
  .uni > img {
    height: 20px;
    width: 23px;
    border-radius: 2px;
  }
  .uni > p {
    color: #585858dc;
    font-weight: 500;
  }
  .material-symbols-outlined {
    color: #0056d2;
    margin: 0px;
  }
  .example12 {
    height: 150px;
    width: 95%;
    margin: 5px auto;
    display: block;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  @media (width<=1023px) {
    .K1Cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .K2Cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .K3Cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .K4Cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .K1Card {
      height: auto;
      display: grid;
      grid-template-areas:
        "m1 m2"
        "m1 m3"
        ". m4"
        ". m5";
      grid-template-columns: 30% 70%;
      gap: 13px;
      padding: 10px;
    }
  
    .K1Card > div:nth-of-type(1) {
      grid-area: m1;
      height: 70%;
      width: 100%;
    }
    .K1Card > div:nth-of-type(2) {
      grid-area: m2;
    }
    .K1Card > p:nth-of-type(1) {
      grid-area: m3;
    }
    .K1Card > div:nth-of-type(3) {
      grid-area: m4;
    }
    .K1Card > p:nth-of-type(2) {
      grid-area: m5;
    }
  }
  @media (width<768px) {
    .K1Cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .K2Cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .K3Cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .K4Cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .K1Card {
      height: auto;
      display: grid;
      grid-template-areas:
        "m2 ."
        "m3 m1"
        "m4 m1"
        "m5 .";
      grid-template-columns: 90% 10%;
      gap: 13px;
      padding: 10px;
    }
  
    .K1Card > div:nth-of-type(1) {
      grid-area: m1;
      height: 100%;
      width: 100%;
      margin: -10px;
    }
    .K1Card > div:nth-of-type(2) {
      grid-area: m2;
    }
    .K1Card > p:nth-of-type(1) {
      grid-area: m3;
    }
    .K1Card > div:nth-of-type(3) {
      grid-area: m4;
    }
    .K1Card > p:nth-of-type(2) {
      grid-area: m5;
      margin: 0px;
    }
  }
  
  .MKheader > .cards{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
  }
    .MKheader .card > div:nth-of-type(1) {
      grid-area: k1;
      height: 170px;
      width: 100%;
    }
    .MKheader .card > div:nth-of-type(2) {
      grid-area: k2;
      margin: 5px;
    }
    .MKheader .card > p:nth-of-type(1) {
      grid-area: k3;
      margin: -25px 0px 0px 5px;
      font-size: 14px;
      font-weight: 400;
    }
   
    .MKheader .card > p:nth-of-type(2) {
      grid-area: k5;
      color: #585858dc;
    font-weight: 500;
    margin-bottom: 5px;
    }
  
   .MKheader .card{
  height: auto;
      display: grid;
      grid-template-areas:
        "k1 k2"
        "k1 k3"
        "k1 k4"
        "k1 k5";
      grid-template-columns: 50% 50%;
      gap: 37px;
      padding: 10px;
      gap: 20px;
      border: none;
    transition: box-shadow, transform 0.3s ease-in-out;
  }
  .MKheader .card:hover {
    transform: scale(1.03);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
   
   .image1{
      background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/mas-information-technology-illinois-tech/1b37393a-cb27-4fd3-8c3c-f8413ff31123.jpg?auto=format%2Ccompress%2C%20enhance&dpr=2&w=265&h=204&q=50&fit=crop');
      height: 150px;
    width: 95%;
    margin: 5px auto;
    display: block;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
   }
   .MKheader p {
    width: 95%;
  }
  
  .MKheader > a:nth-last-of-type(1){
    color: #0056d2;
    border: none;
    text-decoration: none;
    margin: 20px 0px 0px 0px;
  }
  .MKheader > a:nth-last-of-type(1):hover {
    text-decoration: underline;
  }
  @media (width<=1023px) {
    
    .MKheader .cards {
      grid-template-columns: repeat(2, 1fr);
    }
    .MKheader .card {
      height: 170px;
      display: grid;
      grid-template-areas:
        "k1 k2"
        "k1 k3"
        ". k5"
        ". k5";
      grid-template-columns: 30% 70%;
      gap: 13px;
      padding: 10px;
    }
  
    .MKheader .card > div:nth-of-type(1) {
      grid-area: k1;
      height: 70%;
      width: 100%;
    }
    .MKheader .card > div:nth-of-type(2) {
      grid-area: k2;
    }
    .MKheader .card > p:nth-of-type(1) {
      grid-area: k3;
      margin-bottom: 0px;
    }
    
    .MKheader .card > p:nth-of-type(2) {
      grid-area: k5;
      margin: -15px 0px 0px 5px;
  
    }
  }
  @media (width<768px) {
      .MKheader .cards {
      grid-template-columns: repeat(1, 1fr);
    }
    .MKheader .card {
      height: auto;
      display: grid;
      grid-template-areas:
        "k2 ."
        "k3 k1"
        "k4 k1"
        "k5 .";
      grid-template-columns: 90% 10%;
      gap: 13px;
      padding: 10px;
    }
  
    .MKheader .card > div:nth-of-type(1) {
      grid-area: k1;
      height: 50px;
      width: 100%;
      margin: -10px;
    }
    .MKheader .card > div:nth-of-type(2) {
      grid-area: k2;
    }
    .MKheader .card > p:nth-of-type(1) {
      grid-area: k3;
    }
    .MKheader .card > p:nth-of-type(2) {
      grid-area: k5;
      margin: -20px 0px 0px 2px;
    }
  }
  
  /* manjot section ends  */
  
  
  /* category-section starts*/
  .category-outer>.category-inner{
      padding-top: 30px;
      padding-bottom: 30px;
  }
  .category-outer>.category-inner>h2{
      font-size: 28px;
      font-weight: 400;
      padding: 8px;
  }
  .category-grid{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
  }
  .category-grid>div{
      background-color: #00255d;
      padding: 24px 32px;
      font-size: 20px;
      font-weight: 600;
      border-radius: 16px;
      
  }
  .category-grid>div:hover{
      cursor: pointer;
      background-color: #074cb4;
  }
  .category-grid>div>a{
      text-decoration: none;
      color: #ffffff;
  }
  
  /* category-section ends*/
  
  /* footer-section starts */
  
  .Vkp-footer {
    margin-top: 40px;
    padding: 0px !important;
    background-color: #ffffff;
    border-top: 1px solid rgba(128, 128, 128, 0.345);
  }
  .Vkp-footer > .container {
    padding: 0 1px;
    margin: 0 auto;
    
  }
  
  .Vkp-footer > .container > .Vp-footer > .footer-Inner-div {
    padding-top: 80px;
    padding-bottom: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    height: auto;
    margin: auto;
  }
  .footer-column {
    padding: 0 20px;
    margin-bottom: 60px;
    box-sizing: border-box;
  }
  .footer-column > p {
    font-size: 20px;
    font-weight: 600;
    margin: 0px;
    margin-bottom: 30px;
  }
  .footer-column > ul {
    list-style: none;
    padding: 0;
    margin-right: 18px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  .footer-column > ul > li {
    list-style: none;
    margin-bottom: 8px;
  }
  .footer-column > ul > li > a {
    text-decoration: none;
    font-size: 14px;
    color: #575757;
    line-height: 20px;
  }
  .footer-column > ul > li > a:hover {
    color: #333;
    text-decoration: underline;
  }
  
  #footer-store > div {
    max-width: 344px;
    margin-bottom: 50px;
  }
  
  #footer-store > div > a > img {
    width: 50%;
  }
  
  #footer-store > div:nth-of-type(3) > a > img {
    width: 30%;
  }
  
  .footer-end {
    padding: 20px 0 40px 0;
    justify-content: space-between;
  }
  .footer-end > div:nth-of-type(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
  }
  .footer-end > div:nth-of-type(2) > div {
    max-width: 25px;
  }
  .footer-end > div:nth-of-type(2) > div > a > img {
    max-width: 100%;
  }
  .footer-end > div:nth-of-type(2) > div > img:hover {
    cursor: pointer;
  }
  
  /* footer-section ends */
  
  /* media-querry starts */
  
  @media ( max-width: 1900px ) {
      .category-grid{
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 10px;
      }
  }
  @media(max-width: 1296px){
      .category-grid{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 10px;
      }
  }
  
  @media (max-width: 1020px){
      .category-grid{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;
      }
       .category-grid>div{
          background-color: #00255d;
          padding: 4px 32px;
          font-size: 20px;
          font-weight: 600;
          border-radius: 16px;
          
      } 
  }
  
  @media (max-width: 768px) {
      .category-grid{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          gap: 10px;
      }
       .category-grid>div{
          background-color: #00255d;
          padding: 4px 32px;
          font-size: 20px;
          font-weight: 600;
          border-radius: 16px;
          
      } 
    .footer-column {
      flex: 1 1 100%;
      text-align: left;
    }
    .footer-end {
      padding: 20px 0 40px 0;
      flex-direction: column-reverse;
      justify-content: space-between;
      text-align: center;
    }
    #footer-store > div {
      max-width: 344px;
      margin-bottom: 0;
    }
    #footer-store > div > a > img {
      width: 100%;
    }
  
    #footer-store > div:nth-of-type(3) > a > img {
      width: 100%;
    }
  }
  
  @media (max-width: 600px) {
    #footer-store > div {
      max-width: 344px;
      margin-bottom: 0;
    }
    #footer-store > div > a > img {
      width: 100%;
    }
  
    #footer-store > div:nth-of-type(3) > a > img {
      width: 100%;
    }
  
    .Vkp-footer > .container > .Vp-footer > .footer-Inner-div {
      padding-top: 80px;
      padding-bottom: 8px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: auto;
      margin: auto;
    }
  }
  
  @media (max-width: 480px) {
    .footer-column {
      flex: 1 1 100%;
      text-align: left;
    }
    .footer-end {
      padding: 20px 0 40px 0;
      flex-direction: column-reverse;
      justify-content: space-between;
      text-align: center;
    }
  }
  
  /* media querry ends */
  