/* Navbar section start */

* {
  margin: 0;
  padding: 0;
}

.navbar-banner {
  height: auto;
  background-color: black;
  padding: 8px;
  position: sticky;
  top: 0;
  z-index: 20;
}

#navbar-banner-inner-div {
  display: flex;
  gap: 18px;
  align-items: center;
  justify-content: left;
}

#navbar-banner-inner-div>div>a {
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 8px;
  height: 100%;
}

#navbar-banner-inner-div>div>a>span {
  color: #e5e7e8;
}

#navbar-banner-inner-div>div>a:hover {
  background-color: #fff;
  color: black;
}

.nav-outer-div {
  background-color: #fff;
  padding: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: sticky;
  top: calc(4vh + 8px);
  z-index: 30;
}

.navbar {
  background-color: #fff !important;
  height: 8vh !important;
}

.nav-dropdown-left {
  border: 1px solid #0056d2;
  border-radius: 5px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  color: #0056d2;
}


.navbar-dropdown-left-ul>li>h4 {
  font-size: 20px;
  color: black;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.overlay-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 15;
  display: none;
  padding: 20px;
  overflow-y: auto;
}

.overlay-content.show {
  display: block;
}


.dropdown-menu.custom-dropdown {
  position: relative;
  z-index: 20;
}

.dropdown-menu .dropdown-submenu {
  position: relative;
}

.dropdown-menu .dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  display: none;
  position: absolute;
}

.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.custom-dropdown-menu {
  position: absolute;
  transform: translate(-150px, 15px);
  width: 25vw;
}

.navbar-searchbox {
  width: 25vw !important;
  border: solid rgb(43, 41, 41) 1px !important;
}

.navbar-search-btn {
  background-color: #0056d2;
  border: none;
}

.navbar-search-btn:hover {
  background-color: #0056d2;
}

/* Navbar right section */
.nav-dropdown-right {
  color: black;
}

.navbar-right-btn-group>button {
  /* width: 30px; */
  border: solid #0056d2 1px;
}

.navbar-right-btn-group>button:nth-of-type(2) {
  background-color: #0056d2;
  color: #fff;
  font-weight: 500;
}

.navbar-right-btn-group>button:hover {
  background-color: #0056d2;
}

/* Popup Modal SignUp */
/* Center the title and the lead paragraph */
.modal-header .text-center {
  width: 100%;
  text-align: center;
}

/* Ensure the close button is in the right top corner */
.modal-header .btn-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.lead {
  font-size: 18px !important;
  max-width: 300px !important;
  margin: auto;
  line-height: 1.3;
  color: black;
}


#sign-up-div {
  padding: 20px !important;
}


.signUpBtnSubmit {
  width: 100%;
  background-color: #0056d2 !important;
  font-weight: 500 !important;
}

.alredyOnCoursera {
  margin-top: 10px;
  text-align: center;
  font-size: 15px !important;
}

#orgSignUpLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgSignUpLink {
  text-align: center !important;
  margin: auto !important;
}



/* Sign in section */
#sign-in-div {
  padding: 20px !important;
}

.signInBtnSubmit {
  width: 100%;
  background-color: #0056d2 !important;
  font-weight: 500 !important;
}

.notOnCoursera {
  margin-top: 10px;
  text-align: center;
  font-size: 15px !important;
}

.orgSignUpLink {
  display: flex;
  align-items: center;
  justify-content: center;
}

.orgSignUpLink {
  text-align: center !important;
  margin: auto !important;
}

.termAndConditions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 30px;
  line-height: 1.7;
}


/* Forgot password section */
#forgotPassword-div {
  padding: 20px !important;
}

.forgotPasswordBtnSubmit {
  width: 100%;
  background-color: #0056d2 !important;
  font-weight: 500 !important;
}

.forgotPasswordBackToLogin {
  text-align: center !important;
  margin: auto !important;
  margin-top: 10px !important;
}

/* Navbar section ends */

/* Forgot Password section starts */
#forgotPassword-parent-div {
  /* border: solid black 2px; */
  height: auto;
  width: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap:20px; */
}

#forgotPassword-parent-div>div {
  width: 100%;
}

#forgotPassword-parent-div>input {
  border: 1px solid #0056d2 !important;
}

#forgotPassword-parent-div>div:nth-of-type(2) {
  padding: 40px;
  border: solid rgb(224, 219, 208) 4px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#forgotPassword-parent-div>div>img {
  width: 80%;
}

#forgotPasswordForm>button {
  width: 100%;
}

.captchaDiv {
  display: flex;
  /* border: solid black; */
  gap: 10px;
}

.captchaDiv>div {
  display: flex;
  align-items: center;
  justify-content: left;
}

.captchaDiv>div>button {
  color: #0056d2 !important;
  border: none !important;
}

.captchaDiv>div>button>i {}

.captchaDiv>div>button:hover {
  background-color: transparent !important;
}

.forgotPasswordSubmitBtn {
  background-color: #0056d2 !important;
  font-weight: 500;
}


/* Opt -password */


#otpPassword-parent-div {
  /* border: solid black 2px; */
  height: auto;
  width: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap:20px; */
}

#otpPassword-parent-div>div {
  width: 100%;
}

#otpPassword-parent-div>input {
  border: 1px solid #0056d2 !important;
}

#otpPassword-parent-div>div:nth-of-type(2) {
  padding: 40px;
  border: solid rgb(224, 219, 208) 4px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#otpPassword-parent-div>div>img {
  width: 80%;
}

#otpPasswordForm>button {
  width: 100%;
}

.optPasswordSubmitBtn {
  background-color: #0056d2 !important;
  font-weight: 500;
}

/* Adding swapping functionality */
#otp-password {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  /* Position absolute for smooth replacement */
  top: 150px;
  /* Adjust top position as needed */
  left: 0;
  /* Adjust left position as needed */
  width: 100%;
  /* Full width */
}

#otp-password.show {
  display: block;
  opacity: 1;
}

#Forgot-password.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
}

/* Forgot Password section ends */




/* Expand your horizons section start */

.header-container {
  height: auto;
  width: 100%;
  display: flex;
}

.header-container>div {
  width: 100%;
}

.header-container>div:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  padding: 15px;
  margin-top: 6%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header-container>div:nth-of-type(1)>p:nth-of-type(1) {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  padding: 10px;
  font-size: 3.2rem;
  line-height: 1.2;
  color: #373a3c;
}

.header-container>div:nth-of-type(1)>p:nth-of-type(2) {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  padding: 10px;
  font-size: 1.3rem;
  line-height: 1.3;
  color: #373a3c;
}

.header-container-div1-btn {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 20px;
  padding: 10px;
}

/* .header-container>button {} */

.header-container-div1-btn>button:nth-of-type(1) {
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 3px;
  background-color: #0056d2;
  font-weight: 500;
}

.header-container-div1-btn>button:nth-of-type(2) {
  padding: 8px 20px;
  font-size: 18px;
  border-radius: 3px;
  background-color: transparent;
  color: #0056d2;
  font-weight: 500;
}



/* Expand your horizons section ends */




/* Section1(We collaborate with ) section start */


.container-company {
  width: 100vw;
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px;
}

.container-company>a {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

#leading-uni:hover {
  text-decoration: underline;
}

.companiesLogo {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.companiesLogo a img {
  height: 37px;
}

/* Section1(We collaborate with ) section ends */




/* Section-2(Launch a new career) section start */

#launch_career {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin-top: 64px;
  padding: 0 20px;
}

#launch_career>a {
  margin-left: 30px;
  font-size: 14px;
  text-decoration: none;
  color: rgb(72, 72, 72);
  display: flex;
  align-items: center;
}

.section2-arrow {
  margin-left: 5px;
  position: absolute;
  margin-top: 0px;
}

#launch_career>a:hover {
  text-decoration: underline;
}

.navbar-card {
  position: relative;
  background-color: white;
  overflow: hidden;
}

.nav-items-02 {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav-itm {
  padding: 16px 20px;
  cursor: pointer;
  text-align: center;
}

.nav-itm:hover {
  background-color: rgb(243, 248, 255);
  color: rgb(0, 86, 210);
}

.indicator-background {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(229, 231, 232);
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: rgb(0, 86, 210);
  transition: width 0.3s, left 0.3s;
}

.indicator-background {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: rgb(229, 231, 232);
}

.indicator {
  position: absolute;
  bottom: 0;
  height: 4px;
  width: 0;
  background-color: rgb(0, 86, 210);
  transition: width 0.3s, left 0.3s;
}

.career-card {
  display: flex;
  justify-content: space-between;
  width: auto;
  height: 900px;
  border: 1px solid #666;
  border-radius: 8px;
  margin-top: 30px;
  padding: 20px;
  background-color: white;
}

.career-details {
  flex: 1;
  padding-right: 20px;

}

.container-card {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
  margin-right: 45px;
}

.card {
  margin-top: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 350px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
  text-align: left;
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.logo-img {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.card-title {
  font-size: 1.2em;
  margin: 0.5em 0;
  font-weight: bold;
}

.card-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 1em;
}

.card-rating {
  font-size: 1em;

  display: flex;
  align-items: center;
}

.card-rating .fa-star {
  margin-right: 5px;
  color: rgb(0, 86, 210);
  margin-left: 5px;

}

#all {
  padding: 5px;
  background-color: rgb(229, 231, 232);
  width: 150px;
  display: inline-block;
  border-radius: 5px;
}

.rupee {
  display: inline-block;
  font-weight: bold;
}

#data {
  padding: 5px;
  background-color: rgb(0, 86, 210);
  width: 250px;
  display: inline-block;
  margin-top: 10px;
  color: white;
  border-radius: 5px;
}

#job-openings {
  margin-top: 40px;
  padding: 15px 0px;
  border-top: 1px solid rgb(229, 231, 232) !important;
  width: 500px;
  color: #666;
  font-weight: bold;
}

#explore-certificate {
  margin-left: 420px;
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;

}

#explore-certificate:hover {
  text-decoration: underline;
}

.footer-note {
  width: 1180px;
  font-size: 14px;
  color: #666;
  text-align: center;
  margin-top: -90px;
  padding: 25px;
  border-top: 1px solid #666;
}

/* Section-2(Launch a new career) section ends */



/* section-3(Degree Programs) section start */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


.MK {
  display: flex;
  flex-direction: column;
  gap: 27px;
  margin-top: 50px;
}

.K1Container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.K1Container>p:nth-of-type(1) {
  color: #382d8b;
  margin: 0px 0px 20px 0px;
}

.K1Container>h4 {
  color: #0056d2;
  font-size: 36px;
  font-weight: 400;
  margin: 0px;
}

.K1Container>h4:hover {
  text-decoration: underline solid 2px;
  color: #0a3470de;
}

.K1Container>p:nth-of-type(2) {
  font-size: 18px;
  margin: 2px 0px 23px 0px;
  font-weight: 500;
}

.K1Buttons {
  display: flex;
  gap: 10px;
  margin-top: 17px;
}

.K1Buttons>button:nth-of-type(1) {
  padding: 8px 16px;
  border: 1px solid #0056d2;
  color: #0056d2;
  border-radius: 5px;
}

.K1Buttons>button:nth-of-type(1):hover {
  color: #163579;
  border: 1px solid #163579;
}

.K1Buttons>button:nth-of-type(2) {
  color: #0056d2;
  border: none;
}

.K1Buttons>button:nth-of-type(2):hover {
  color: #163579;
}

.K1Buttons>button:nth-of-type(2)>p:hover {
  color: #163579;
  text-decoration: underline;
}

.K1Cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.K2Cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.K3Cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.K4Cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.K1Card {
  height: auto;
  border: 1px solid #ddd;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  transition: box-shadow, transform 0.3s ease-in-out;
}

.K1Card:hover {
  transform: scale(1.03);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.K1Card p {
  width: 95%;
  margin: auto;
}

.K1Card a {
  width: 95%;
  margin: auto;
  text-decoration: none;
  color: #0056d2;
}

.earnDegree {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-bottom: -12px;
}

.K1Card>p:nth-last-of-type(1) {
  color: #585858dc;
  font-weight: 500;
  margin-bottom: 23px;
}

.uni {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 95%;
  margin: auto;
}

.uni>img {
  height: 20px;
  width: 23px;
  border-radius: 2px;
}

.uni>p {
  color: #585858dc;
  font-weight: 500;
}

.material-symbols-outlined {
  color: #0056d2;
  margin: 0px;
}

.example12 {
  /* background-image: url("https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://s3.amazonaws.com/coursera_assets/ddp/branding/ms-management-illinois/thumbnail.jpg?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=204&fit=crop&q=50"); */
  height: 150px;
  width: 95%;
  margin: 5px auto;
  display: block;
  /* border: 5px solid black; */
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (width<=1023px) {
  .K1Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .K2Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .K3Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .K4Cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .K1Card {
    height: auto;
    display: grid;
    grid-template-areas:
      "m1 m2"
      "m1 m3"
      ". m4"
      ". m5";
    grid-template-columns: 30% 70%;
    gap: 13px;
    padding: 10px;
  }

  .K1Card>div:nth-of-type(1) {
    grid-area: m1;
    height: 70%;
    width: 100%;
  }

  .K1Card>div:nth-of-type(2) {
    grid-area: m2;
  }

  .K1Card>p:nth-of-type(1) {
    grid-area: m3;
  }

  .K1Card>div:nth-of-type(3) {
    grid-area: m4;
  }

  .K1Card>p:nth-of-type(2) {
    grid-area: m5;
  }
}

@media (width<600px) {
  .K1Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .K2Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .K3Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .K4Cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .K1Card {
    height: auto;
    display: grid;
    grid-template-areas:
      "m2 ."
      "m3 m1"
      "m4 m1"
      "m5 .";
    grid-template-columns: 90% 10%;
    gap: 13px;
    padding: 10px;
  }

  .K1Card>div:nth-of-type(1) {
    grid-area: m1;
    height: 100%;
    width: 100%;
    margin: -10px;
  }

  .K1Card>div:nth-of-type(2) {
    grid-area: m2;
  }

  .K1Card>p:nth-of-type(1) {
    grid-area: m3;
  }

  .K1Card>div:nth-of-type(3) {
    grid-area: m4;
  }

  .K1Card>p:nth-of-type(2) {
    grid-area: m5;
    margin: 0px;
  }
}

/* section-3(Degree Programs) section ends */




/* section-4(Courses and Professional Certificates) section start */



/* section-4(Courses and Professional Certificates) section ends */




/* section-5(100% Free) section start */



/* section-5(100% Free) section ends */



/* Section-6(Explore Coursera)  section start */



/* ************************************************** */
.vis_cardall {
  height: auto;
  box-sizing: border-box;
  display: flex;
  width: auto;
  box-shadow: 2px 2px 2px 2px #888888;
  transition: transform 0.3s ease;
  cursor: pointer;
  border-radius: 2%;
}

.vis_cardall:hover {
  transform: scale(1.02);
}

.vis_emage img {
  width: 80px;
  min-width: 80px;
  height: 70px;
}

.vis_subpart {
  padding: 5px;
  box-sizing: border-box;
}

.vis_subpart>div:nth-child(1)>span:nth-child(1) {
  text-overflow: ellipsis;
  box-sizing: border-box;
  width: 208px;
  height: 20px;
  white-space: nowrap;
  font-weight: bold;
  font-size: 10px;
  color: black;
  overflow: hidden;
}

.vis_subpart>div:nth-child(1)>p {
  text-align: left;
  width: 208px;
  height: 20px;
  box-sizing: border-box;
  font-size: 10px;
  font-weight: bold;
  color: rgb(67, 60, 60);
}

.vis_mid {
  display: flex;
  height: auto;
  background-color: #ebf3ff;
}

.vis_statictext1 {
  margin-top: 25%;
  margin-left: 10%;
}

.vis_statictext2 {
  margin-left: 10%;
}

.vis_statictext3 button {
  width: 100px;
}

.vis_statictext3 button:hover {
  background-color: blue;
  color: white;
}

.vis_statictext1 p {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 20px;
  line-height: 28px;
  text-align: left;
  margin-top: 30px;
}

.vis_statictext2 p {
  text-align: left;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 15px;
}

.vis_statictext3 {
  width: auto;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  margin-left: 10%;
  /* border: 1px solid; */
}

/* ************************************************** */
.vis_foot {
  height: auto;
  width: 100%;
  background-color: white;
  margin-top: 100px;
  /* display: flex; */
  margin: 50px;
}


/* .container{
    max-width: 1440px;
} */
/*  */
.vis_foot1 H2 {
  text-align: center;

}

.vis_foot1 p {
  text-align: center;
}

.vis_card2 {
  height: auto;
  background-color: white;
  width: 250px;
  padding: 10px;
}

.vis_card2 img {
  border-radius: 100%;
  height: 200px;
  width: 200px;
}

.vis_textcontent h2 {
  text-align: center;
}

.vis_textcontent {
  margin-top: 20px;
}

.span-1 {
  margin-left: 10px;
}

.umaspan2 {
  text-align: center;
}

.umspan-3 {
  text-align: center;
}

.chspan-1 {
  margin-left: 10px;
}

.chspan-2 {
  /* margin-left: 30px; */
  text-align: center;
}

.chspan-3 {
  /* margin-left: 90px; */
  text-align: center;
}

.manspan-1 {
  margin-left: 30px;
}

.manspan-2 {
  /* margin-left: 70px; */
  text-align: center;
}

.manspan-3 {
  /* margin-left: 80px; */
  text-align: center;
}

.bhspan-1 {
  margin-left: 10px;
}

.bhspan-3 {
  /* margin-left: 80px; */
  text-align: center;
}


.vis_part2 {
  margin-top: 70px;
}

.vis_exp {
  margin-bottom: 40px;
}

.vis_statictext3 {
  margin-left: 10%;
}

.container a {
  text-decoration: none;
}

#joinbtn {
  width: 100px;
}

.carousel-item {
  height: 100%;
  /* Ensure each carousel item has the same height */
}

.carousel-control-prev,
.carousel-control-next {
  height: auto;
  width: 50px !important;
  display: flex;
  margin-left: 10px;
  width: 10px;
  align-items: center;
  padding: 0;
  /* Remove default padding */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
  width: 40px;
  /* Adjust width as needed */
  height: 40px;
  /* Adjust height as needed */
  border-radius: 0;
  /* Make the div rectangular */
}

.prevbtn {
  padding: 0px;
  /* Adjust padding as needed to reduce border container width */
}

.prevbtn:focus,
.prevbtn:active {
  border: 1px solid black;
}

.vis_uma {
  margin-left: 100px;
  /* border: 1px solid red; */
}

.vis_chit {
  margin-left: 100px;
  /* border: 1px solid pink; */
}

.vis_man {
  margin-left: 100px;
  /* border: 1px solid olivedrab; */
}





/* ************************************************** */




/* Section-6(Explore Coursera)  section ends */




/* section-7(World-class learning)  section start */



/* section-7(World-class learning)  section ends */


/* section-8(From the Coursera community)  section start */


/* section-8(From the Coursera community)  section ends */






/* section-9(The ideal solution for your business)  section start */

.TheIdealSolution {
  background-color: #f5f7f8;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 50px;
}

.TheIdealSolution>.container {
  justify-content: space-between;
}

#btn1>button {
  border: none;
  border-radius: 4px;
  background-color: #0056d2;
  padding: 12px 32px;
  margin-bottom: 24px;
}

#btn1>button:hover {
  text-decoration: underline white;
  background-color: #054db1;
}

#btn1>button>a {
  text-decoration: none;
}

#btn1>button>a>span {
  font-size: 16px;
  color: #ffffff;
  font-weight: 600;
}

#upskill_Small_Team>p>a:hover {
  text-decoration: none;
}

#brand_box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand_box_inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: auto;
  height: auto;
  margin: auto;
}

.brand_box_inner>div {
  border: solid rgba(211, 210, 210, 0.475) 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.brand_box_inner>div:nth-of-type(1) {
  border-top: none;
  border-left: none;
  border-right: none;
}

.brand_box_inner>div:nth-of-type(2) {
  border-top: none;
}

.brand_box_inner>div:nth-of-type(3) {
  border-top: none;
  border-right: none;
}

.brand_box_inner>div:nth-of-type(4) {
  border-left: none;
  border-right: none;
}

.brand_box_inner>div:nth-of-type(6) {
  border-right: none;
}

.brand_box_inner>div:nth-of-type(7) {
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
}

.brand_box_inner>div:nth-of-type(8) {
  border-bottom: none;
  border-top: none;
}

.brand_box_inner>div:nth-of-type(9) {
  border-bottom: none;
  border-right: none;
  border-top: none;
}

/* section-9(The ideal solution for your business)  section ends */



/* section-10(Take the next step)  section start */

.TakeTheNextStep {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 28px;
  padding-bottom: 28px;
}

.TakeTheNextStep>.container {
  padding: 12px 15px;
  display: flex;
}

.TakeTheNextStep>.container>.Image-Next-Step {
  max-width: 471px;
  margin-right: 95px;
}

.TakeTheNextStep>.container>.Image-Next-Step>img {
  width: 100%;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2 {
  max-width: 574px;
  display: flex;
  flex-direction: column;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(1) {
  max-width: 430px;
  margin-top: 42px;
  margin-bottom: 24px;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(1)>h2 {
  max-width: 430px;
  font-size: 44px;
  font-weight: 600;
  letter-spacing: -0.1px;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(2) {
  max-width: 460px;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(2)>p {
  max-width: 460px;
  margin-bottom: 24px;
  font-size: 16px;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(3)>button {
  /* width: 152px; */
  padding: 12px 35px;
  border: none;
  background-color: #0056d2;
  color: #ffffff;
  font-weight: 700;
  border-radius: 4px;
}

.TakeTheNextStep>.container>.TakeTheNextStep-inner2>div:nth-of-type(3)>button:hover {
  background-color: #054db1;
}


/* section-10(Take the next step)  section ends */



/* section-11(Footer)  section start */

.Vkp-footer {
  padding: 0px !important;
  background-color: #f5f5f5;
}

.Vkp-footer>.container {
  padding: 0 1px;
  margin: 0 auto;
}

.Vkp-footer>.container>.Vp-footer>.footer-Inner-div {
  padding-top: 80px;
  padding-bottom: 8px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  height: auto;
  margin: auto;

}

.footer-column {
  /* padding: 0 20px; */
  margin-bottom: 60px;
  box-sizing: border-box;
}

.footer-column>p {
  font-size: 20px;
  font-weight: 600;
  margin: 0px;
}

.footer-column>ul {
  list-style: none;
  padding: 0;
  margin-right: 18px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.footer-column>ul>li {
  list-style: none;
  margin-bottom: 8px;
}

.footer-column>ul>li>a {
  text-decoration: none;
  font-size: 14px;
  color: #575757;
  line-height: 20px;
}

.footer-column>ul>li>a:hover {
  color: #333;
  text-decoration: underline;
}

.footer-end {
  padding: 20px 0 40px 0;
  justify-content: space-between;
}

.footer-end>div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;

}

.footer-end>div:nth-of-type(2)>div {
  max-width: 25px;
}

.footer-end>div:nth-of-type(2)>div>a>img {
  max-width: 100%;
}

.footer-end>div:nth-of-type(2)>div>img:hover {
  cursor: pointer;
}


/* section-11(Footer)  section ends */