/* Navbar section start */

* {
    margin: 0;
    padding: 0;
}

.navbar-banner {
    height: auto;
    background-color: black;
    padding: 8px;
    position: sticky;
    top: 0;
    z-index: 20;
}

#navbar-banner-inner-div {
    display: flex;
    gap: 18px;
    align-items: center;
    justify-content: left;
}

#navbar-banner-inner-div>div>a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding: 8px;
    height: 100%;
}

#navbar-banner-inner-div>div>a>span {
    color: #e5e7e8;
}

#navbar-banner-inner-div>div>a:hover {
    background-color: #fff;
    color: black;
}

.nav-outer-div {
    background-color: #fff;
    padding: 5px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: calc(4vh + 8px);
    z-index: 30;
}

.navbar {
    background-color: #fff !important;
    height: 8vh !important;
}

.nav-dropdown-left {
    border: 1px solid #0056d2;
    border-radius: 5px;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: #0056d2;
}

.navbar-dropdown-left-ul>li>h4 {
    font-size: 20px;
    color: black;
}

.navbar-searchbox {
    width: 25vw !important;
    border: solid rgb(43, 41, 41) 1px !important;
}

.navbar-search-btn {
    background-color: #0056d2;
    border: none;
}

.navbar-search-btn:hover {
    background-color: #0056d2;
}

/* Navbar right section */
.nav-dropdown-right {
    color: black;
}

.navbar-right-btn-group>button {
    /* width: 30px; */
    border: solid #0056d2 1px;
}

.navbar-right-btn-group>button:nth-of-type(2) {
    background-color: #0056d2;
    color: #fff;
    font-weight: 500;
}

.navbar-right-btn-group>button:hover {
    background-color: #0056d2;
}


/* Navbar section ends */




/* Expand your horizons section start */

.header-container {
    height: auto;
    width: 100%;
    display: flex;
}

.header-container>div {
    width: 100%;
}

.header-container>div:nth-of-type(1) {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    padding: 15px;
    margin-top: 6%;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header-container>div:nth-of-type(1)>p:nth-of-type(1) {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    padding: 10px;
    font-size: 3.2rem;
    line-height: 1.2;
    color: #373a3c;
}

.header-container>div:nth-of-type(1)>p:nth-of-type(2) {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    padding: 10px;
    font-size: 1.3rem;
    line-height: 1.3;
    color: #373a3c;
}

.header-container-div1-btn {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
    padding: 10px;
}

/* .header-container>button {} */

.header-container-div1-btn>button:nth-of-type(1) {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 3px;
    background-color: #0056d2;
    font-weight: 500;
}

.header-container-div1-btn>button:nth-of-type(2) {
    padding: 8px 20px;
    font-size: 18px;
    border-radius: 3px;
    background-color: transparent;
    color: #0056d2;
    font-weight: 500;
}



/* Expand your horizons section ends */




/* Section1(We collaborate with ) section start */




/* Section1(We collaborate with ) section ends */




/* Section-2(Launch a new career) section start */




/* Section-2(Launch a new career) section ends */



/* section-3(Degree Programs) section start */



/* section-3(Degree Programs) section ends */




/* section-4(Courses and Professional Certificates) section start */



/* section-4(Courses and Professional Certificates) section ends */




/* section-5(100% Free) section start */



/* section-5(100% Free) section ends */



/* Section-6(Explore Coursera)  section start */



/* Section-6(Explore Coursera)  section ends */




/* section-7(World-class learning)  section start */



/* section-7(World-class learning)  section ends */


/* section-8(From the Coursera community)  section start */


/* section-8(From the Coursera community)  section ends */






/* section-9(The ideal solution for your business)  section start */

.TheIdealSolution{
    background-color: #f5f7f8; 
}
#btn1>button{
    border: none;
    border-radius: 4px;
    background-color: #0056d2;
    padding: 12px 32px;
    margin-bottom: 24px;
}
#btn1>button:hover{
    text-decoration: underline white;
}
#btn1>button>a{
    text-decoration: none;
}
#btn1>button>a>span{
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
}
#upskill_Small_Team>p>a:hover{
    text-decoration: none;
}
#brand_box{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.brand_box_inner{
    
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: auto;
    height: auto;
    margin: auto;
}
.brand_box_inner>div{
    border: solid rgb(211, 210, 210) 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.brand_box_inner>div:nth-of-type(1){
    border-top: none;
    border-left: none;
}
.brand_box_inner>div:nth-of-type(2){
    border-top: none;
}
.brand_box_inner>div:nth-of-type(3){
    border-top: none;
    border-right: none;
}
.brand_box_inner>div:nth-of-type(4){
    border-left: none;
}
.brand_box_inner>div:nth-of-type(5){
    
}
.brand_box_inner>div:nth-of-type(6){
    border-right: none;
}
.brand_box_inner>div:nth-of-type(7){
    border-left: none;
    border-bottom: none;
}
.brand_box_inner>div:nth-of-type(8){
    border-bottom: none;
}
.brand_box_inner>div:nth-of-type(9){
    border-bottom: none;
    border-right: none;
}

/* section-9(The ideal solution for your business)  section ends */



/* section-10(Take the next step)  section start */


/* section-10(Take the next step)  section ends */



/* section-11(Footer)  section start */


/* section-11(Footer)  section ends */